[submodule "opencv_contrib"]
	path = cv-sys/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
	shallow = true
[submodule "opencv"]
	path = cv-sys/opencv
	url = https://github.com/opencv/opencv.git
	shallow = true
