sudo: required
dist: trusty

language: rust
rust:
  - stable

addons:
  apt:
    packages:
    - libgmp-dev
    - build-essential
    - cmake
    - git
    - libgtk2.0-dev
    - pkg-config
    - libavcodec-dev
    - libavformat-dev
    - libswscale-dev
    - libtbb2
    - libtbb-dev
    - libjpeg-dev
    - libpng-dev
    - libtiff-dev
    - libjasper-dev
    - libdc1394-22-dev
    - xvfb

before_install:
  - ./travis_build_opencv.sh

script:
  - cargo build
  - cargo test
  - cargo doc --no-deps
  - if [ "$TRAVIS_RUST_VERSION" == "nightly" ]; then cargo bench ; fi

notifications:
  email:
    on_success: never

cache:
  timeout: 1000
  directories:
    - $HOME/usr
    - $HOME/.cargo

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: target/doc/
  on:
    branch: master
