image: Visual Studio 2015
environment:
  RUSTUP_USE_REQWEST: 1
  CARGO_HTTP_CHECK_REVOKE: false

  matrix:
    - TARGET: x86_64-pc-windows-msvc
skip_commits:
  files:
    - .travis.yml
    - .ci/*.sh
    - LICENSE
    - '*.md'
platform:
  - x64

install:  
  # Install CUDA
  - ps: appveyor DownloadFile https://developer.nvidia.com/compute/cuda/9.1/Prod/local_installers/cuda_9.1.85_windows -FileName cuda.exe
  - ps: .\.ci\appveyor_install_CUDA.ps1 -FileName cuda.exe
  
  # Install OpenCV
  - ps: .\.ci\appveyor_build_OCV.ps1

  # Install Rust
  - nnnnnnnnnnnnset PATH=C:\Program Files\Git\mingw64\bin;%PATH%
  - curl -sSf -o rustup-init.exe https://win.rustup.rs/
  - rustup-init.exe -y --default-host %TARGET%
  - set PATH=%PATH%;C:\Users\appveyor\.cargo\bin
  - rustc -V
  - cargo -V
  
build: false
#cache:
  #- install -> .ci/appveyor_build_OCV.ps1, .ci/appveyor_build_CUDA.ps1
  
on_finish:
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
#test_script:
  #- ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  # - cargo build --no-default-features
  # - cargo test --no-default-features
  # - cargo build --features gpu
  # - cargo test --features gpu
